@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,800;1,800&display=swap');

body{
    color: #1dd09e;
                     
    background: linear-gradient(to right, #567cb0, #45172d);                               
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1{
    text-align: center;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

p, li{
    font-size: 25px;
}


.yt{
    border: 2px solid rgb(228, 221, 221);
    float: right;
}



